{% extends "base.html" %}

{% block content %}
<p>
	<ul>
	{% for i in items %}
	<li> {{ i.name }}</li>
	{% endfor %}
</ul>
  

</head>
<body>



<div class="container-fluid" style="width:80%">
  <div class="row content">

    <div class="col-sm-3 sidenav hidden-xs">
      <h2> {{ item.name }} </h2>
    </div>
    <br>
    
    <div class="col-sm-9">
      
        <h4>Add picture here! </h4>
        <p><br><br><br><br><br><br><br><br></p>
      
      <br>
      <div class="row">
      <div class="col-sm-9">
      	
      	<h4>Item Description</h4>
    	<p> {{item.description }}</p>
      </div>
  </div>
      <br>
      <div class="row">
        <div class="col-sm-3">
          
            <h4> Donation item? </h4>
            {% if item.agency %}
            <p>Yes</p> 
            {% endif %}
          
        </div>
        <div class="col-sm-3">
          
            <h4>Warehouse? </h4>
            {% if item.warehouse %}
            <p>Yes</p> 
            {% else %}
            <p> No </p>
            {% endif %}
          
        </div>
        <div class="col-sm-3">
          
            <h4>Location</h4>
            <p>{{ item.location }}</p> 
          
        </div>
        <div class="col-sm-3">
          
          	<h4>Price</h4>
          	{% if item.free == True %}
            <p> Free </p> 
            {% elif item.trade == True %}
            <p> Trade </p>
            {% else %}
            <p> {{ item.price }}</p> 
            {% endif %}
          
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p> 
            <p>Text</p> 
            <p>Text</p> 
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p> 
            <p>Text</p> 
            <p>Text</p> 
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p> 
            <p>Text</p> 
            <p>Text</p> 
          </div>
        </div>
      </div> -->
      <br><br><br>
      <div class="row" style="align-text: right;">
        <div class="col-sm-6" >
          
            <a href="#" class="btn btn-secondary btn-lg">
          <span class="glyphicon glyphicon-tags"></span>  Bid on Item
        </a>
          
        </div>
        <div class="col-sm-6" style="text-align: right;">
          
           

            <a href="#" class="btn btn-primary btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Buy Now
        </a>
          
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>



{% endblock %}